body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c2c;
    padding: 10px 20px;
    z-index: 1001;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: margin-left 0s;
}

header .logo {
    display: flex;
    align-items: center;
    color: white;
}

header .logo .menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

header .logo .menu-icon {
    font-size: 24px;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.logout {
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    right: 50px;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: -250px;
    background-color: white;
    overflow-x: hidden;
    transition: 0s;
}

.sidebar-light .sidebar-brand {
    color: #fafafa;
    background-color: var(--primary-color);
    font-size: 15px;
    font-weight: 400;
    padding-top: 12px;
    height: 45px;
}

@media (max-width: 1100px) {
    .sidebar .sidebar-brand {
        overflow: hidden;
    }
}

.sidebar .sidebar-brand {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 11px;
    text-align: center;
    letter-spacing: 0.05rem;
    z-index: 1;
}

.sidebar .sidebar-brand-icon img {
    height: 30px;
    margin-right: 10px;
}

.sidebar .sidebar-brand-text {
    margin-left: 10px;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.d-flex {
    display: flex !important;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #AB162B;
    color: white;
}

.sidebar-header img {
    height: 30px;
    margin-right: 10px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(142, 142, 142);
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #ddd;
}

.sidebar a:last-child {
    border-bottom: none;
}

.sidebar a i {
    margin-right: 10px;
    color: #AB162B;
}

.sidebar a:hover i {
    color: #575757;
}

.submenu {
    display: none;
    padding-left: 20px;
}

.submenu-item {
    font-size: 16px;
    color: rgb(142, 142, 142);
    border-bottom: none;
}

.submenu-item.active {
    color: red;
}

.main-content {
    margin-top: 60px;
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s;
}

.breadcrumb {
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
}

.breadcrumb ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.breadcrumb ol li {
    margin-right: 5px;
}

.breadcrumb ol li:after {
    content: "/";
    margin-left: 5px;
}

.breadcrumb ol li:last-child:after {
    content: "";
}

.content-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.back-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #FDBF06;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
}

.back-button:hover {
    background-color: #e0e0e0;
}

.submission-form .form-group {
    margin-bottom: 20px;
}

.submission-form label {
    display: block;
    margin-bottom: 5px;
}

.submission-form .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submission-form .form-control.error {
    border-color: red;
}

.submission-form .form-control.success {
    border-color: green;
}

.submission-form .error-message {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.submission-form .form-control.error + .error-message {
    display: block;
}

.submit-group {
    text-align: right;
}

.submit-button {
    background-color: #198754;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #346636;
}

.submit-group-validacao {
    text-align: center;
}

.submit-button-reprovado {
    background-color: #963d3d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button-reprovado:hover {
    background-color: #963d3d;
}

.file-group {
    display: flex;
    align-items: center;
}

.file-group input[type="file"] {
    display: none;
}

.file-group label[for="pdf"] {
    flex: 1;
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.upload-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .main-content {
        margin-left: 0;
    }
    .submission-form .form-control {
        width: 100%;
        margin-right: 0;
    }
    .submit-group {
        text-align: center;
    }
}
